a img { border: none; }

#wrapper {
	background-color: #FFFFFF;
	padding: 0px;
	text-align: center;
	margin-top: 39px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: 'Crimson', sans-serif;
	font-size: 1em;
	font-weight: lighter;
}
#header {
	height: 79px;
	margin: 0px;
	padding: 0px;
}
#header a {
	text-decoration: none;
}
#header a:link 
{
text-decoration: none;
}
#header a:hover
{
text-decoration: none;
}
#main {
	background-image: url(../images/image-1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 482px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#main1 {
		background-image: url(../images/image-2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 482px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#main2 {
	background-image: url(../images/image-7.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 482px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#main3 {
	background-image: url(../images/image-4.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 482px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#main4 {
	background-image: url(../images/image-5.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	height: 482px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
#main5 {
	background-image: url(../images/image-6.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 482px;
	padding-left: 0px;
}
#main6 {
	background-image: url(../images/image-8.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	height: 482px;
	padding-left: 0px;
}

#footer {
	padding-top: 0px;

}
#footer ul {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

#footer li
{
	display: inline;
	list-style-type: none;
}

#footer a {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 5px;
	font-size: 10px;
	color: #99CC00;
	background-color: #99CC00;
}
#footer a:link 
{
color: #99CC00;
background-color: #99CC00;
text-decoration: none;
}
#footer a:hover
{
color: #99FF33;
background-color: #99FF33;
text-decoration: none;
}
